body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar { /*code for nav bar*/
    background-color: #020035;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 5mm;
}  
.profile {/*style for profile on the left*/
    float: left;
    padding-left: 2cm;
    color: aliceblue;
    font-weight: bolder;
    font-size: 30px;
}
  
.profile .contact_info {/*style for the email and phone number*/
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
.contact_info img {/*style for images for email and phone number*/
    width:25px;
    margin-right: 10px;
    float:left;
}
.navbarchild { /*styling for navbar children eg. About Me, Skills, Project*/
    color: lightgray;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
  
  .navbarchild:hover {/*Styling once navbar child is hovered*/
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
  
  .navbardiv { /*sets navbarchild to the right*/
    float: right;
    padding-right: 1cm;
}
  